import os
DB_HOST = os.getenv("DB_HOST", "172.23.0.10")
DB_USER = os.getenv("DB_USER", "appuser")
DB_PASS = os.getenv("DB_PASS", "strongpassword")
DB_NAME = os.getenv("DB_NAME", "app_db")
APP_PORT = int(os.getenv("APP_PORT", 8080))

print(f"Connecting to DB at {DB_HOST} as {DB_USER}")